@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dhefln');
  src:  url('../fonts/icomoon.eot?dhefln#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dhefln') format('truetype'),
    url('../fonts/icomoon.woff?dhefln') format('woff'),
    url('../fonts/icomoon.svg?dhefln#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}


body {
  font-family: "Source Sans Pro", sans-serif;

  background-color: rgb(255, 255, 255);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}
h1 {
  color: white;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  margin: 0px;
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0;
  margin-bottom: 40px;
}
figure {
  margin: 0px;
}

h1 strong {
  color: #026fff;
}
.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 72.03px;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  display: inherit;
  justify-content: inherit;
  height: inherit;
  align-items: inherit;
  max-width: 1000px;
  flex:1;
  margin: 0 auto;
  flex-wrap: inherit;
}
.burger-button{
 display: none;   
}
.menu {
  height: auto;
}
.header ul {
  height: inherit;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0px;
}
.header li {
  height: inherit;
}
.header a {
  display: flex;
  height: inherit;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}
.hero {
  height: 300px;

  background-color: #1b2127;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-image {
  height: inherit;
}

.portafolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project strong {
  font-family: "Fjalla One", sans-serif;
}
.project-title {
  font-size: 30px;
  margin: 10px 0;
  margin-top: 0;
}
.project-course,
.project-dates,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 20px;
}
.project-details {
  width: 50%;
}
.project-imageContainer {
  width: 50%;
  text-align: center;
}
.project-imageContainer img {
  max-width: 100%;

}
.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 20px;
}
.event {
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f4fbff;
}
.event img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  padding: 20px;
  position: relative;
  text-align: center;
}
.event-description {
  text-align: left;
}
.event-url {
  color: #026fff;
  text-decoration: none;
  border: 1px solid #026fff;
  padding: 10px 40px;
  border-radius: 5px;
}
.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
}
.contact h3 {
  font-family: "Source Sans Pro", sans-serif;
}
.contact input {
  border-color: grey;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url("../images/mail.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.contact button {
  display: block;
  background-color: transparent;
  padding: 7px 0;
  color: white;
  width: 100px;
  border: 2px white solid;
  border-radius: 5px;
  margin-top: 10px;
}
.social-link {
  display: inline-block;
  margin: 0 10px;
  height: 43px;
  width: 43px;
  background-size: 43px 43px;
  color: white;
  text-decoration: none;
  font-size: 43px;
}

.footer {
  background-color: #2c2f33;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.footer-platzi{
  display: flex;
  align-items: center;
}
.footer a {
  color: white;
}
@media screen and (max-width:1023px){
  .container{
    padding: 0 1em;
  }
  
  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 30PX;
  }
  .hero-image{
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    top: -8.5em;
    bottom: 0;
    width: 100%;

  }
  .hero h1{
    z-index: 2;
    font-size: 2em;
  }
}
@media screen and (max-width:767px){
  .burger-button{
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.7);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 4;
  }
  .menu{
    position: fixed;
    z-index: 3;
    background:rgba(27, 33, 39,.9); ;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    
  }
  .menu.is-active{
    left: 0;
  }
  .header{
    display: block;
    height:auto;
    text-align: center;
    /* border:solid green 5px; */
  }
  .header a{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .header ul{
    display: block;
  }
  .header li{
    height: 60px;
    font-size: 2em;
    margin-bottom: .8em;
  }
  .header img{
    width: 13em;
    height: auto;
  }
  .hero-image{
    top: -3em;
  }
  .project{
    display: block;
  }
  .project-details{
    width: auto;
    font-size: 16px;
  }
  .project-title{
    font-size: 1.7em;
    margin-bottom: .3em;
  }
  .project-course{
   font-size: .8em;
    margin: .3em 0;
  }
  .project-dates{
    font-size: 1em; 
    margin: .3em 0;
  }
  .project-url{
    font-size: .9em; 
    margin: .3em 0;
   }
   .project-description{
     font-size: 1.2em;
     margin:.3em 0;
   }
  .project-imageContainer{
    width: auto;
  }
  .event{
    width: auto;
    flex-shrink: initial;
  }
  .contact{
    height: auto;
    padding: 1em 0;
  }
  
}
@media screen and (max-width:480px){
  .hero-image{
    top: 0;
  }
  .hero h1{
    
    font-size: 1.5em;
  }
  .event-list-title {
    margin: .8em 0;
  }
  h2{
    margin: .8em 0;
    
  }
  .project-details{
    font-size: 12px;
  }
  .event-detail{
    margin: -2em .5em .5em;
    padding: 1em;
  }
  .contact{
    display: block;
    text-align: center;
    
  }
  .form-email button{
    margin: 1.5em auto;
    
  }
  .form-email h3{
    margin-top: 0;
  }

  .footer{
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .footer-platzi{
    display: block;
  }
  
}
@media screen and (max-width:320px){

  .hero{
    padding: 2em 0;
  }
  .hero h1{
    font-size: 1.2em;
  }


  .project-details{
    
    font-size: 12px;
  }
  .project-imageContainer img{
    max-width: 35%;
   
  }
  
  
}